[submodule "services/document-edit-server"]
	path = services/document-edit-server
	url = https://github.com/sno2wiki/document-edit-server
[submodule "services/api-server"]
	path = services/api-server
	url = https://github.com/sno2wiki/api-server
