[submodule "services/document-edit-server"]
	path = services/document-edit-server
	url = https://github.com/sno2wiki/document-edit-server
[submodule "services/ws-handler"]
	path = services/ws-handler
	url = git@github.com:sno2wiki/ws-handler.git
